#CooldownOverlay
{
	height: 100%;
	background-color: #000000DD;
}

#CooldownTimer
{
	color: white;
    font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
    horizontal-align: center;
    vertical-align: center;
}

#Cooldown
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.in_cooldown #Cooldown
{
	visibility: visible;
}

#ManaCost
{
	color: #f3c133;
    font-size: 16px;
    font-weight: bold;
	/* text-shadow: 0px 0px 6px 8 #245191; */
	margin-right: 0px;
	margin-bottom: -18px;

	vertical-align: bottom;
	horizontal-align: center;
}

.no_mana_cost #ManaCost
{
	visibility: collapse;
}

#Hotkey
{
	margin-left: -4px;

	vertical-align: top;
	horizontal-align: left;
	min-width: 18px;
	min-height: 18px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
}

#HotkeyText
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 14px;
    font-weight: bold;
	vertical-align: center;
	text-align: center;
	width: 100%;
	margin: -2px;
}

.no_level #Hotkey,
.is_passive #Hotkey,
#stash_row #Hotkey,
.no_hotkey #Hotkey
{
	visibility: collapse;
}


