.AbilityOverlayRoot
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 32.6%;
	height: 13%;
}

#ability_list
{
	flow-children: right;
	border: 2px solid black;
	background-color: #111111;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, 0%, 0);
}

.hide_building #ability_list
{
	transform: translate3d(0, 100%, 0);
}

.GhostingOverlay
{
	width: 500px;
	height: 500px;
	horizontal-align: center;
	vertical-align: center;
}

.AbilityPanel
{
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 8px;
	vertical-align: center;
}

#ButtonAndLevel
{
	flow-children: down;
}

#AbilityButton
{
	width: 80px;
	height: 80px;
	border: 2px solid black;
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.is_passive #AbilityButton
{
	border: 0px;
}

.no_level DOTAAbilityImage
{
	desaturation: 1;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	desaturation: 1;
	wash-color: #1569be;
}


#AbilityStatusBorder
{
	margin: 2px;
	border: 4px solid transparent;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 4px solid orange;
}

.toggle_active #AbilityStatusBorder
{
	border: 4px solid green;
}

#AbilityLevelContainer
{
	horizontal-align: center;
	flow-children: right;
	visibility: collapse;
}

.LevelPanel
{
	width: 12px;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}

#LTD_artic_building1, #LTD_artic_building2, #LTD_artic_building3, #LTD_artic_building4, #LTD_artic_building5, #LTD_artic_building6, #LTD_ghost_building1, #LTD_ghost_building2, #LTD_ghost_building3, #LTD_ghost_building4, #LTD_ghost_building5, #LTD_ghost_building6, #LTD_elf_building1, #LTD_elf_building2, #LTD_elf_building3, #LTD_elf_building4, #LTD_elf_building5, #LTD_elf_building6
{
	visibility: collapse;
}
