@define TotalLength: 1s;
@define TimingFunc: linear;
@define IterationCount: infinite;

.OverthrowLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#OverthrowIcon
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	margin-right: 15px;
}

#OverthrowTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #0cff00;
	text-shadow: 2px 2px 2px #000000;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#seq
{
    overflow: clip;
	pre-transform-scale2d: 1.00, 1.00;
}

@keyframes 'x' {}

#seq_bg
{
	animation-name: seq_bg_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
    margin-left: 0px;
}

@keyframes 'seq_bg_anim'
{
	0%
	{
	}

	100%
	{
	}
}

#seq_beastmaster_pets
{
	margin-left: 1015px;
	margin-top: 120px;
	animation-name: seq_beastmaster_pets_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	visibility: collapse;
}

@keyframes 'seq_beastmaster_pets_anim'
{
	0%
	{
		transform: translateX( 50px ) translateY( 10px );
        pre-transform-scale2d: 0.90;
	}

	100%
	{
	}
}

#seq_beastmaster
{
	margin-left: 0px;
	margin-top: -200px;
	pre-transform-scale2d: 0.45;
	animation-name: seq_beastmaster_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_beastmaster_anim'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	50%
	{
		transform: rotateZ( -180deg );
		pre-transform-scale2d: 0.55;
	}
	100%
	{
		transform: rotateZ( -360deg );
		
	}
}

#seq_juggernaut
{
	margin-left: 400px;
	margin-top: 325px;
	animation-name: seq_juggernaut_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	pre-transform-scale2d: 0.415;
}

@keyframes 'seq_juggernaut_anim'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	50%
	{
		transform: rotateZ( 180deg );
		pre-transform-scale2d: 0.5;
	}
	100%
	{
		transform: rotateZ( 360deg );
	}
}

#seq_luna
{
	margin-left: 8px;
	margin-top: 0px;
	animation-name: seq_luna_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	pre-transform-scale2d: 1.05;
	visibility: collapse;
}

@keyframes 'seq_luna_anim'
{
	0%
	{
		transform: translateX( 120px ) translateY( 50px );
	}

	100%
	{
	}
}

#seq_coins
{
	margin-left: -150px;
	margin-top: 200px;
	animation-name: seq_coins_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	visibility: collapse;
}

@keyframes 'seq_coins_anim'
{
	0%
	{
		transform: translateX( 200px ) translateY( -100px );
	}

	100%
	{
	}
}
