.ErrorMessagesRoot
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 23%;
}

#ErrorMessagesLabel
{
	color: red;
 	text-shadow: 1px 1px 2px 1 #000000;
    font-size: 42px;
    font-weight: bold;
	horizontal-align: center;
	text-align: center;

	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 	0;
}

.error_message_visible #ErrorMessagesLabel
{
	transition-duration: 0.2s;
	opacity: 	1;
}