.GameStateTimersRoot
{
	margin-top: 	10%;
	vertical-align: top;
	horizontal-align: center;
	height: 5%;
	overflow: 	noclip;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );
	border: 	1px solid black;
}

#GameStateLabel
{
	vertical-align: center	;
	horizontal-align: center ;
	color: white;
	font-size: 30px;
	text-shadow: 0 0 3px black;
	margin-left: 	8px;
	font-family: Goudy Trajan Medium;
	margin-right: 	8px;
	text-align: 	center;	
}