.HealthBarRoot
{
	vertical-align: top;
	horizontal-align: center;
	width: 42%;
	height: 3.5%;
}

#DireKingLabel
{
	horizontal-align: center;
	vertical-align: center;
	transform: translatex(105px);
	color: white;
	font-size: 20px;
	font-family: Goudy Trajan Medium;
}

#KingImageKunkka
{
	horizontal-align: center;
	vertical-align: center;
	transform: translatex(94px);
	width: 62.222px;
	height: 35px;
}

#DireHealthBar
{
	vertical-align: center;
	horizontal-align: right;
	border: 1px solid black;
}

#DireHealthBarImage
{
	width: 250px;
	height: 20px;
	vertical-align: center;
	horizontal-align: left;
}

#DireHealthBarImageBlack
{
	z-index: -1;
	width: 250px;
	height: 20px;
	vertical-align: center;
	horizontal-align: right;
}

#DireHealthBarLabel
{
	text-align: 	center;
	horizontal-align: center;
	vertical-align: 	center;
	color: white;
	font-size: 20px;
}

#RadiantKingLabel
{
	horizontal-align: center;
	vertical-align: center;
	transform: translatex(-100px);
	color: white;
	font-size: 18px;
	font-family: Goudy Trajan Medium;
}

#KingImageKunkka
{
	horizontal-align: center;
	vertical-align: center;
	transform: translatex(94px);
	width: 62.222px;
	height: 35px;
}

#RadiantHealthBar
{
	vertical-align: center;
	horizontal-align: left;
	border: 1px solid black;
}

#RadiantHealthBarImage
{
	width: 250px;
	height: 20px;
	vertical-align: center;
	horizontal-align: right;
}

#RadiantHealthBarImageBlack
{
	z-index: -1;
	width: 250px;
	height: 20px;
	vertical-align: center;
	horizontal-align: right;
}

#RadiantHealthBarLabel
{
	text-align: 	center;
	horizontal-align: center;
	vertical-align: 	center;
	color: white;
	font-size: 20px;
}