.ResourceCounterRoot
{
	vertical-align: top;
	horizontal-align: right;
	flow-children: right;
}

#LumberCounter, #GoldCounter, #MeatCounter
{
   	background-color: #111111;
    border-radius: 5px;
	flow-children: right;
	width: 115px;
	height: 40px;
	margin-right: 3%;
	margin-top: 1.1%;
	box-shadow: 	inset 3px 4px 5px #000;
}

#LumberCounterImage, #GoldCounterImage, #MeatCounterImage
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	margin-left: 5px;
}

#LumberCounterLabel, #GoldCounterLabel, #MeatCounterLabel
{
	vertical-align: center;
	horizontal-align: right;
	margin-right: 5px;

	color: #ffffff;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 18px;
    font-weight: bold;
}

#MeatCounter
{
	margin-right: 	.5%;
}