.SelectedUnitRoot
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 	3%;
	width: 24.9%;
	height: 20%;

}

#SelectedUnitPanel
{
	width: 100%;
	height: 100%;
	border: 2px solid black;
	background-color: #111111;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );
    flow-children: right;
}

#UnitInfo
{
	flow-children: down;
	vertical-align: bottom;
	height: 80%;
	width: 35%;
	overflow: noclip noclip;
	margin-left: 10px;
}

#UnitName
{
	color: #ffffff;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 26px;
    font-weight: bold;
	horizontal-align: center;
	margin-top: 12.5%;
	width: 90%;
	text-align: center;
}

#UnitImage
{
	width: 120px;
	height: 68px;
	horizontal-align: center;
	border: 2px solid black;
}

#SelectedUnitPanelRightSide
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#HealthBar
{
	horizontal-align: center;
	width: 70%;
	height: 35%;
}

#HealthBarLabel
{
	horizontal-align: center;
	vertical-align: center;
	z-index: 2;

	color: #ffffff;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 26px;
    font-weight: bold;
}

#HealthBarImage
{
	horizontal-align: center;
	vertical-align: center;
	z-index: 1;
}

#UnitButtons
{
	width: 100%;
	height: 65%;
}

#RemoveButton
{
	vertical-align: center;
	margin-left: 18%;
	height: 84px;
	width: 84px;
	background-color: #00ff1e;
	margin-bottom: 20%;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 	0;
}

#UpgradeButton
{
	vertical-align: center;
	horizontal-align: right;
	margin-right: 16%;
	height: 84px;
	width: 84px;
	background-color: #ff0000;
	margin-bottom: 20%;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 	0;
}

.toggle_control_buttons #RemoveButton, .toggle_control_buttons #UpgradeButton
{
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 	1;
}

#RemoveButton:hover, #UpgradeButton:hover
{
	border: 2px solid white;
}

#RemoveButton:active, #UpgradeButton:active
{
	border: 4px solid white;
}
