
#UltimateIndicatorBG
{
    background-image: url( "file://{images}/custom_game/ulti_base.png" );
    visibility: collapse;
}

.player_ultimate_hidden #UltimateIndicatorBG
{
	opacity: 0;
	visibility: collapse;
}

#UltimateIndicator
{
	opacity: 0;
	visibility: collapse;
}

.player_ultimate_ready #UltimateIndicator
{
	opacity: 1;
    background-image: url( "file://{images}/custom_game/ulti_achieved.png" );
}

.player_ultimate_no_mana #UltimateIndicator
{
	opacity: 1;
    background-image: url( "file://{images}/custom_game/ulti_achieved_blue.png" );
}

.player_ultimate_not_leveled #UltimateIndicator
{
	opacity: 1;
    background-image: url( "file://{images}/custom_game/ulti_base.png" );
}

.player_ultimate_cooldown #UltimateIndicator
{
	opacity: 1;
    background-image: url( "file://{images}/custom_game/ulti_buildup.png" );
}

