.UnitSenderRoot
{
	vertical-align: center;
	horizontal-align: right;
	width: 23%;
	height: 70%;
	margin-bottom: 	0%;

}

#UnitSenderToggle
{
	vertical-align: top;
	margin-left:  -1.5%;
	width: 31px;
	height: 109px;
	background-color: #131616;
    background-image: url( "file://{images}/custom_game/send_units_left.png" );
    border: 1px solid black;
    background-size: cover;
    background-position: center;
	z-index: 	1;

	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(95%, 0, 0);
}

.toggle_unit_sender #UnitSenderToggle
{
	transform: translate3d(0%, 0, 0);
	transition-delay: 0s;
	background-image: url( "file://{images}/custom_game/send_units_right.png" ); 
}

#UnitSenderPanel
{
	overflow: clip;
	flow-children: down;
	horizontal-align: right	;
	margin-right: 	-.1%;
	width: 95%;
	height: 100%;

    transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0%, 0, 0);
}

.hide_building #UnitSenderPanel
{
	transform: translate3d(95%, 0, 0);
	transition-delay: 0s;
}

#UnitSenderAccordion1Button
{
	z-index: 2;
	width: 100%;
	height: 8%;
	background-color: #1b1d1d;
	border: 1px solid black;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, 0, 0);
}

#UnitSenderAccordion1Button:hover
{
	background-color: 	#272929;
}

#UnitSenderAccordion1Button:active
{
	background-color: 	#151717;
}

#UnitSenderAccordion1ButtonLabel
{
	text-align: 	center;
	horizontal-align: center;
	vertical-align: 	center;
	color: white;
	font-size: 28px;
}

#UnitSenderAccordion1Panel
{
	flow-children: right-wrap;
	z-index: 	-3;
	width: 	100%;
	height: 	30%;
	background-color: #131616;
	transition-property: transform, box-shadow;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, -30%, 0);
	box-shadow: 	inset 0px 0px -100px #000;
}

.toggle_accordion_1 #UnitSenderAccordion1Panel
{
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
	box-shadow: 	inset 0px 4px 5px #000;
}

#UnitSenderAccordion2Button
{
	z-index: 	10;
	width: 100%;
	height: 8%;
	background-color: #1b1d1d;
	border: 1px solid black;

	transition-property: transform, background-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, -30%, 0);
}

.toggle_accordion_1 #UnitSenderAccordion2Button
{
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

#UnitSenderAccordion2Button:hover
{
	background-color: 	#272929;
}

#UnitSenderAccordion2Button:active
{
	background-color: 	#151717;
}

#UnitSenderAccordion2ButtonLabel
{
	text-align: 	center;
	horizontal-align: center;
	vertical-align: 	center;
	color: white;
    font-size: 28px;
}

#UnitSenderAccordion2Panel
{
	z-index: 	-5;
	width: 	100%;
	height: 	30%;
	background-color: #131616;
	transition-property: transform, box-shadow;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, -60%, 0);
	box-shadow: 	inset 0px 0px -100px #000;
}

.toggle_accordion_1 #UnitSenderAccordion2Panel
{
	transform: translate3d(0, -30%, 0);
	transition-delay: 0s;
}

.toggle_accordion_2 #UnitSenderAccordion2Panel
{
	transform: translate3d(0, -30%, 0);
	transition-delay: 0s;
	box-shadow: 	inset 0px 4px 5px #000;
}


#UnitSenderAccordion3Button
{
	z-index: 6;
	width: 100%;
	height: 8%;
	background-color: #1b1d1d;
	border: 1px solid black;

	transition-property: transform, background-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, -60%, 0);
}

.toggle_accordion_1 #UnitSenderAccordion3Button
{
	transform: translate3d(0, -30%, 0);
	transition-delay: 0s;
}

.toggle_accordion_2 #UnitSenderAccordion3Button
{
	transform: translate3d(0, -30%, 0);
	transition-delay: 0s;
}

#UnitSenderAccordion3Button:hover
{
	background-color: 	#272929;
}

#UnitSenderAccordion3Button:active
{
	background-color: 	#151717;
}

#UnitSenderAccordion3ButtonLabel
{
	text-align: 	center;
	horizontal-align: center;
	vertical-align: 	center;
	color: white;
    font-size: 28px;
}

#UnitSenderAccordion3Panel
{
	z-index: -10;
	width: 	100%;
	height: 	30%;
	background-color: #131616;
	transition-property: transform, box-shadow;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transform: translate3d(0, -90%, 0);
	box-shadow: 	inset 0px 0px -100px #000;
}

.toggle_accordion_3 #UnitSenderAccordion3Panel
{
	transform: translate3d(0, -60%, 0);
	transition-delay: 0s;
	box-shadow: 	inset 0px 4px 5px #000;
}

#UnitSenderAccordion1ButtonPanel
{
	flow-children: right-wrap;
	vertical-align: center;
	horizontal-align: center;
}

#Accordion1Button1Panel, #Accordion1Button2Panel, #Accordion1Button3Panel, #Accordion1Button4Panel, #Accordion1Button5Panel, #Accordion1Button6Panel, #Accordion1Button7Panel, #Accordion1Button8Panel
{
	width: 80px;
	height: 80px;
	margin: 12px;
	overflow: noclip;

}

#Accordion1Button1, #Accordion1Button2, #Accordion1Button3, #Accordion1Button4, #Accordion1Button5, #Accordion1Button6, #Accordion1Button7, #Accordion1Button8
{
	width: 	64px;
	height: 	64px;
	horizontal-align: center;
	vertical-align: 	center;
	background-color: #aaaaaa;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 	0;
}

.toggle_accordion_1 #Accordion1Button1, .toggle_accordion_1 #Accordion1Button2,.toggle_accordion_1 #Accordion1Button3,.toggle_accordion_1 #Accordion1Button4,.toggle_accordion_1 #Accordion1Button5,.toggle_accordion_1 #Accordion1Button6,.toggle_accordion_1 #Accordion1Button7,.toggle_accordion_1 #Accordion1Button8
{
	opacity: 1;
	transition-duration: 0.3s;
}

#Accordion1Button1:hover, #Accordion1Button2:hover, #Accordion1Button3:hover, #Accordion1Button4:hover, #Accordion1Button5:hover, #Accordion1Button6:hover, #Accordion1Button7:hover, #Accordion1Button8:hover
{
	border: 1px solid white;
}

#Accordion1Button1:active, #Accordion1Button2:active, #Accordion1Button3:active, #Accordion1Button4:active, #Accordion1Button5:active, #Accordion1Button6:active, #Accordion1Button7:active, #Accordion1Button8:active
{
	border: 3px solid white;
}

#Accordion1Button1{ background-image: url( "file://{images}/custom_game/militia.png" ); }              
#Accordion1Button2{ background-image: url( "file://{images}/custom_game/elven_archer.png" ); }         
#Accordion1Button3{ background-image: url( "file://{images}/custom_game/ghoul.png" ); }                
#Accordion1Button4{ background-image: url( "file://{images}/custom_game/orc_warrior.png" ); }          
#Accordion1Button5{ background-image: url( "file://{images}/custom_game/green_dragon.png" ); }         
#Accordion1Button6{ background-image: url( "file://{images}/custom_game/ice_troll.png" ); }            
#Accordion1Button7{ background-image: url( "file://{images}/custom_game/thunder_lizard.png" ); }       
#Accordion1Button8{ background-image: url( "file://{images}/custom_game/kodo_beast.png" ); }           

#Accordion1Button1Lumber, #Accordion1Button2Lumber, #Accordion1Button3Lumber, #Accordion1Button4Lumber, #Accordion1Button5Lumber, #Accordion1Button6Lumber, #Accordion1Button7Lumber, #Accordion1Button8Lumber
{
	color: #f3c133;
    font-size: 14px;
    font-weight: bold;
	/* text-shadow: 0px 0px 6px 8 #245191; */
	margin-right: 0px;
	margin-bottom: -10%;
	vertical-align: bottom;
	horizontal-align: center;
}

#Accordion1Button1Name, #Accordion1Button2Name, #Accordion1Button3Name, #Accordion1Button4Name, #Accordion1Button5Name, #Accordion1Button6Name, #Accordion1Button7Name, #Accordion1Button8Name
{
	z-index: 	1;
	color: #aaaaaa;
    font-size: 14px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	margin-top: -9%;
}

#UnitSenderAccordion2ButtonPanel
{
	flow-children: right-wrap;
	vertical-align: center;
	horizontal-align: center;
}

#Accordion2Button1Panel, #Accordion2Button2Panel, #Accordion2Button3Panel, #Accordion2Button4Panel, #Accordion2Button5Panel, #Accordion2Button6Panel, #Accordion2Button7Panel, #Accordion2Button8Panel
{
	width: 80px;
	height: 80px;
	margin: 12px;
	overflow: noclip;

}

#Accordion2Button1, #Accordion2Button2, #Accordion2Button3, #Accordion2Button4, #Accordion2Button5, #Accordion2Button6, #Accordion2Button7, #Accordion2Button8
{
	width: 	64px;
	height: 	64px;
	horizontal-align: center;
	vertical-align: 	center;
	background-color: #aaaaaa;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 	0;
}

.toggle_accordion_2 #Accordion2Button1, .toggle_accordion_2 #Accordion2Button2,.toggle_accordion_2 #Accordion2Button3,.toggle_accordion_2 #Accordion2Button4,.toggle_accordion_2 #Accordion2Button5,.toggle_accordion_2 #Accordion2Button6,.toggle_accordion_2 #Accordion2Button7,.toggle_accordion_2 #Accordion2Button8
{
	opacity: 1;
	transition-duration: 0.3s;
}

#Accordion2Button1:hover, #Accordion2Button2:hover, #Accordion2Button3:hover, #Accordion2Button4:hover, #Accordion2Button5:hover, #Accordion2Button6:hover, #Accordion2Button7:hover, #Accordion2Button8:hover
{
	border: 1px solid white;
}

#Accordion2Button1:active, #Accordion2Button2:active, #Accordion2Button3:active, #Accordion2Button4:active, #Accordion2Button5:active, #Accordion2Button6:active, #Accordion2Button7:active, #Accordion2Button8:active
{
	border: 3px solid white;
}

#Accordion2Button1{ background-image: url( "file://{images}/custom_game/militia.png" ); }              
#Accordion2Button2{ background-image: url( "file://{images}/custom_game/elven_archer.png" ); }         
#Accordion2Button3{ background-image: url( "file://{images}/custom_game/ghoul.png" ); }                
#Accordion2Button4{ background-image: url( "file://{images}/custom_game/orc_warrior.png" ); }          
#Accordion2Button5{ background-image: url( "file://{images}/custom_game/green_dragon.png" ); }         
#Accordion2Button6{ background-image: url( "file://{images}/custom_game/ice_troll.png" ); }            
#Accordion2Button7{ background-image: url( "file://{images}/custom_game/thunder_lizard.png" ); }       
#Accordion2Button8{ background-image: url( "file://{images}/custom_game/kodo_beast.png" ); }           

#Accordion2Button1Lumber, #Accordion2Button2Lumber, #Accordion2Button3Lumber, #Accordion2Button4Lumber, #Accordion2Button5Lumber, #Accordion2Button6Lumber, #Accordion2Button7Lumber, #Accordion2Button8Lumber
{
	color: #f3c133;
    font-size: 14px;
    font-weight: bold;
	/* text-shadow: 0px 0px 6px 8 #245191; */
	margin-right: 0px;
	margin-bottom: -10%;
	vertical-align: bottom;
	horizontal-align: center;
}

#Accordion2Button1Name, #Accordion2Button2Name, #Accordion2Button3Name, #Accordion2Button4Name, #Accordion2Button5Name, #Accordion2Button6Name, #Accordion2Button7Name, #Accordion2Button8Name
{
	z-index: 	1;
	color: #aaaaaa;
    font-size: 14px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	margin-top: -9%;
}

#UnitSenderAccordion3ButtonPanel
{
	flow-children: right-wrap;
	vertical-align: center;
	horizontal-align: center;
}

#Accordion3Button1Panel, #Accordion3Button2Panel, #Accordion3Button3Panel, #Accordion3Button4Panel, #Accordion3Button5Panel, #Accordion3Button6Panel, #Accordion3Button7Panel, #Accordion3Button8Panel
{
	width: 80px;
	height: 80px;
	margin: 12px;
	overflow: noclip;

}

#Accordion3Button1, #Accordion3Button2, #Accordion3Button3, #Accordion3Button4, #Accordion3Button5, #Accordion3Button6, #Accordion3Button7, #Accordion3Button8
{
	width: 	64px;
	height: 	64px;
	horizontal-align: center;
	vertical-align: 	center;
	background-color: #aaaaaa;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 	0;
}

.toggle_accordion_3 #Accordion3Button1, .toggle_accordion_3 #Accordion3Button2,.toggle_accordion_3 #Accordion3Button3,.toggle_accordion_3 #Accordion3Button4,.toggle_accordion_3 #Accordion3Button5,.toggle_accordion_3 #Accordion3Button6,.toggle_accordion_3 #Accordion3Button7,.toggle_accordion_3 #Accordion3Button8
{
	opacity: 1;
	transition-duration: 0.3s;
}

#Accordion3Button1:hover, #Accordion3Button2:hover, #Accordion3Button3:hover, #Accordion3Button4:hover, #Accordion3Button5:hover, #Accordion3Button6:hover, #Accordion3Button7:hover, #Accordion3Button8:hover
{
	border: 1px solid white;
}

#Accordion3Button1:active, #Accordion3Button2:active, #Accordion3Button3:active, #Accordion3Button4:active, #Accordion3Button5:active, #Accordion3Button6:active, #Accordion3Button7:active, #Accordion3Button8:active
{
	border: 3px solid white;
}

#Accordion3Button1{ background-image: url( "file://{images}/custom_game/militia.png" ); }              
#Accordion3Button2{ background-image: url( "file://{images}/custom_game/elven_archer.png" ); }         
#Accordion3Button3{ background-image: url( "file://{images}/custom_game/ghoul.png" ); }                
#Accordion3Button4{ background-image: url( "file://{images}/custom_game/orc_warrior.png" ); }          
#Accordion3Button5{ background-image: url( "file://{images}/custom_game/green_dragon.png" ); }         
#Accordion3Button6{ background-image: url( "file://{images}/custom_game/ice_troll.png" ); }            
#Accordion3Button7{ background-image: url( "file://{images}/custom_game/thunder_lizard.png" ); }       
#Accordion3Button8{ background-image: url( "file://{images}/custom_game/kodo_beast.png" ); }           

#Accordion3Button1Lumber, #Accordion3Button2Lumber, #Accordion3Button3Lumber, #Accordion3Button4Lumber, #Accordion3Button5Lumber, #Accordion3Button6Lumber, #Accordion3Button7Lumber, #Accordion3Button8Lumber
{
	color: #f3c133;
    font-size: 14px;
    font-weight: bold;
	/* text-shadow: 0px 0px 6px 8 #245191; */
	margin-right: 0px;
	margin-bottom: -10%;
	vertical-align: bottom;
	horizontal-align: center;
}

#Accordion3Button1Name, #Accordion3Button2Name, #Accordion3Button3Name, #Accordion3Button4Name, #Accordion3Button5Name, #Accordion3Button6Name, #Accordion3Button7Name, #Accordion3Button8Name
{
	z-index: 	1;
	color: #aaaaaa;
    font-size: 14px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	margin-top: -9%;
}
